.top{
    padding-top: 60px;
    background-color: #efcfc2;
    margin-bottom: 20px;
}


.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.profileImg{
    scale: 1.2;
    margin: auto;
}



.templatemid{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
   
}

.leftsection{
    width: 30%;
}

.contact{
    margin-top: 10px;
    margin-bottom: 10px;
}


.skills{
    margin-top: 20px;
    
}

.education{
    margin-top: 30px;
}

.objective{
    margin-top: 20px;
}

.workExperience{
    margin-top: 20px;
}

.line{
    height: 3px;
    background-color: #443f45;
    width: 300px;
}


@media (max-width:600px){
    .profileImg{
       scale: 0.8;
    }


    .line{
        width: 200px;
    }
 
  }