.top{
    padding-top: 40px;
    background-color: #efcfc2;
    margin-bottom: 20px;
}


.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.profileImg{
    scale: 0.8;
    margin: auto;
}



.templatemid{
    display: flex;
    justify-content: space-between;
    width: 100%;
   
}

.leftsection{
    width: 220px;
    padding-left: 1.2rem;
}

.rightSection{
    width: 250px;
}

.contact{
    margin-top: 10px;
    margin-bottom: 10px;
}


.skills{
    margin-top: 20px;
    
}

.education{
    margin-top: 30px;
}

.objective{
    margin-top: 20px;
}

.workExperience{
    margin-top: 20px;
}

.line{
    height: 3px;
    background-color: #443f45;
    width: 300px;
}


@media(max-width:900px){
    .line{
        width: 250px;
    }

    .skills{
        margin-top: 2px;
    }

    .education{
        margin-top: 4px;
    }
}


@media (max-width:600px){


    .line{
        width: 200px;
    }
 
  }