
.templateheader{
    background-color: #8d4b55;
    display: flex;
    width: 100%;
    height: 140px;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
    color: #feffff;
}


.profileImg{
    scale: 1.2;
}


.templatemid{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}


.leftsection{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 1rem;
    margin-top:40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 45%;
}

.rightSection{
    width: 50%;
}

.objective{
    margin-bottom: 25px;
    margin-top: 2rem;
}

.line{
    height: 3px;
    margin-bottom: 8px;
    margin-top: 4px;
    background-color: #8d4b55;

 }



 @media (max-width:1200px){
     .leftsection{
        gap: 4px;
     }

     .templateheader{
        height: 100px;
        padding-top: 20px;
     }

     .profileImg{
        scale: 0.8;
     }
 }

 @media (max-width:600px){
    
    .templateheader{
        height: 80px;
    }

    .profileImg{
       scale: 0.8;
    }
 
  }