 .templatemid{
    display: flex;
    height: 100%;
    padding: none;
}

*{
    margin: none;
    padding: none;
}

.profileName{
    background-color:none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 10px;
}

.leftsection{
    color: #a3aaae;
    height: 100%;
    width: 50%;
    background-color: #323b4c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 13px;
    /* padding-left: 10px; */
} 


*{
    margin: 0px;
 }
 
 .line{
    margin-bottom: 8px;
    margin-top: 4px;

 }


 .rightSection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
 }
 

 .profileName{
    display: flex;
    width: 100%;
    font-family: sans-serif;
 }

 .objective{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }



 @media (max-width:600px){
   .profileImg{
      scale: 0.8;
   }

 }